#header {
	/*border-bottom: dotted 1px;*/
	/*width: 1000px;*/
	width: 800px;
  	top: 0;
}

#header p {
	font-family: optima;
}

#title {
	font-size: 35px;
}

#instructions{
	clear:both;
	font-size: 15px;
}

#slider {
	/*width: 1000px;*/
	width: 800px;
	
}

#container {
	/*width: 1000px;*/
	width: 800px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	padding:10px;
	border-left: 1px solid;
	border-right: 1px solid;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
}

#visualization {
	padding-top: 10px;
}

#intro {
  border-width: 2px;
  background-color: #E0E0E0;
  width: 50%;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #888888;
  font-family: optima;
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 25px;
  padding:10px;
  font-size: 14px;
  line-height: 85%;
}

.blurred {
  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}
